spring:
  application:
    name: basicspring

  datasource:
    url: jdbc:mysql://localhost:3306/basic
    username: root
    password: Luda0412!@
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: always

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID}
            client-secret: ${SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
logging:
  level:
    root: info
  # file:
  #   name: application.log
  #   path: ./logs
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
# springdoc:
#   swagger-ui:
#     operations-sorter: alpha(알파멧 오름차순), method(HTTP메소드순)
#     tags-sorter: alpha
#     path: /swagger-ui.html
#     disable-swagger-default-url: true
#     display-query-params-without-oauth2: true
